<div class="row">
  <div class="col">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Food</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/food/cast-iron">Cast iron</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/food/pickling">Pickling</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Writings</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/writings/poems">Poems</a>
        </div>
      </li>
    </ul>
  </div>
</div>
